<!DOCTYPE html>
<html>

<head>
	<meta charset="EUC-KR">
	<title>지도</title>
</head>

<body>
	<p style="margin-top: -12px">
		<em class="link"> <a href="javascript:void(0);"
				onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
			</a>
		</em>
	</p>
	<div id="map" style="width: 100%; height: 780px;"></div>

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=585dbef9c1584c48fdb5c4b7ffaf3172&libraries=services"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new daum.maps.LatLng(37.5662952, 126.8378694), // 지도의 중심좌표
				level: 4
				// 지도의 확대 레벨
			};

		// 지도를 생성합니다    
		var map = new daum.maps.Map(mapContainer, mapOption);

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new daum.maps.services.Geocoder();

		var myAddress = [
			"기흥구 강남동로 128",
			"중구 명동 세종대로 110"];

		function myMarker(number, address) {
			// 주소로 좌표를 검색합니다
			geocoder
				.addressSearch(
					//'충북 청주시 흥덕구 진재로 30 연정빌딩',
					address,
					function (result, status) {
						// 정상적으로 검색이 완료됐으면 
						if (status === daum.maps.services.Status.OK) {

							var coords = new daum.maps.LatLng(
								result[0].y, result[0].x);

							// 결과값으로 받은 위치를 마커로 표시합니다

							var marker = new daum.maps.Marker({
								map: map,
								position: coords
							});


							// 인포윈도우로 장소에 대한 설명을 표시합니다

							var infowindow = new daum.maps.InfoWindow(
								{
									// content : '<div style="width:50px;text-align:center;padding:3px 0;">I</div>'
									content: '<div style="color:red;">' + number + '</div>'
								});
							infowindow.open(map, marker);


							// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
							var content = '<div class="customoverlay">'
								+ '    <span class="title">'
								+ '<div style="font-style:normal; color:red; font-weight:bold; font-size:1.0em">'
								+ number + '</div>' + '</span>'
								+ '</div>';

							// 커스텀 오버레이가 표시될 위치입니다 
							var position = new daum.maps.LatLng(
								result[0].y, result[0].x);

							// 커스텀 오버레이를 생성합니다
							var customOverlay = new daum.maps.CustomOverlay(
								{
									map: map,
									position: position,
									content: content,
									yAnchor: 1
								});

							// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
							map.setCenter(coords);
						}
					});
		}

		for (i = 0; i < myAddress.length; i++) {
			myMarker(i + 1, myAddress[i]);
		}
	</script>

</body>

</html>